@import "bootstrap.min.css";

.row-bottom-20{
	margin-top: 20px;
}

.Firma{
	color: white;
}
.tLogo{
	margin-left:-25px;
	margin-top:-15px;
	width: 60px;
	height: 60px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: black;
}
footer{
	position: absolute;
	bottom:0px;
	float: bottom;
	background-color: #570472;
	width: 100%;
	min-height: 120px;
	margin-bottom: 1px;
	border-radius: 4px;
	border-color: #e7e7e7;
	border: 1px solid transparent;
	min-width: 768px;
}
nav navbar-nav,li{
	font-weight:bold;
}